:root{
    --color-white: #fff;
    --color-black: #000;
    --color-grey-dark: #4b4b4e;
    --color-grey-light:  #f7f6f6;
    --color-grey2: #d7d7d7;
    --color-grey4: #bdbdbd;
    --color-yellow:  #f0a410;
    font-size: 16px !important;
}
* {
    box-sizing: border-box;
}
ul, p, h1, h2, h3, figure, figcaption {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
}
.clear{
    clear: both;
}
/* FONTS */
@font-face {
    font-family: "montserrat";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family:"montserrat";
    font-weight: bold;
    src: url("/fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "montserrat";
    font-weight: 300;
    src: url("/fonts/Montserrat-Light.ttf");
}
@font-face {
    font-family: "montserrat";
    font-weight: 600;
    src: url("/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: "montserrat";
    font-weight: 800;
    src: url("/fonts/Montserrat-SemiBold.ttf");
}
/* ШАПОЧКА И ОСТАЛЬНОЕ */
header, .navbar{
    background: -moz-linear-gradient(left, #FF4500 1%, #DAA520 100%);
    background: -webkit-linear-gradient(left, #FF4500 1%, #DAA520 100%);
    background: linear-gradient(to right, #FF4500 1%, #DAA520 100%);
}
header .header {
    border-bottom: 1px solid var(--color-grey2);
    padding: 14px 0;
}
.navbar-brand {
    margin: 5px;
    padding: 5px;
}
.navbar-link {
    margin-left: 10px;
}
.logo {
    padding: 15px;
}
.nav-text {
    line-height: 19px;
    color: #FFFAFA;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
    transition: 0.2s all ease;
}
.nav-text:hover {
    color: #FF0000;
    border-bottom: 1px solid #FF0000;
}
.profile svg {
    transition: 0.1s all ease
}
.profile svg path {
    transition: 0.1s all ease;
}
.profile svg:hover {
    color: var(--color-white);
}
.search-bar {
    background-color: var(--color-white);
    border: 1px solid var(--color-grey2);
    border-radius: 5px;
    padding: 8px 8px 8px 15px;
    max-width: 329px;
    /* width: 100%; */
    margin-left: 30px;
    
}
header .header_bot form > div input {
    font-size: 15px;
    border: none;
    outline: none;
    width: 100%;
    max-width: 276px;
}
header .header_bot form > div input::placeholder{
    font-size: 15px;
    line-height: 16px;
    color: var(--color-grey2);
}
header .header_bot form > div button {
    background: none;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-left: 8px;
}
.cart {
    justify-content: center;
    gap: 15px;
}
header .header .cart p {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-grey-dark);
}
header .header .cart a {
    font-size: 12px ;
    color: #FFFAFA;
}
header .header .cart a:hover {
    text-decoration: underline;
}
footer {
    background-color: var(--color-grey-dark);
    padding: 60px 0 39px;
}
footer  .logo figcaption {
    font-size: 1.063rem;
    line-height: 25px;
    color: var(--color-white);
    margin-top: 41px;
}

footer .menu a {
    font-size: 0.875rem;
    line-height: 19px;
    color: var(--color-white);
    margin-bottom: 18px;
    transition: 0.3s all ease;
}
footer .menu a.active,
footer .menu a:hover {
    color: var(--color-yellow);
}
footer form > div {
    padding-bottom: 8px;
    border-bottom: 2px solid var(--color-white);
}
footer form input,
footer form input::placeholder {
    font-size: 0.875rem;
    line-height: 19px;
    color: var(--color-white);
    width: 100%;
}
footer form input,
footer form button {
    background: transparent;
    border: none;
    outline: none;
}
footer form button svg {
    color:  var(--color-white);
}
footer .soc {
    margin-top: 46px;
}
footer .soc p {
    font-size: 0.875rem;
    line-height: 19px;
    color: var(--color-white);
}
footer .soc nav {
    margin-top: 30px;
    gap: 65px;
}
footer .soc nav a {
    color: var(--color-white);
    transition: 0.4s all ease;
}
footer .soc nav a:hover {
    color: var(--color-yellow);
}
footer .copyrights {
    font-size: 0.750rem;
    line-height: 16px;
    color: var(--color-white);
    margin-top: 49px;
} 
footer .zakatik svg {
    color: var(--color-white);
    margin-top: 10px;
}
/*BODYYYYY*/
body {
    font-family: "montserrat", sans-serif, Arial;
    margin: 0;
    width: 100%;
} 
.btn {
    margin: 10px;
    border-radius: 15px;
}
/* SUBSCRIBE */
.subscribe {
    padding-top: 120px;
    padding-bottom: 75px;
}
.subscribe .container {
    text-align: center;
}
.subscribe .container h2 {
    margin: 0;
}
.subscribe .container h3 {
    font-size: 1.250rem;
    line-height: 27px;
    color: var(--color-grey-dark);
    margin-top: 20px;  
}
.subscribe .container h4 {
   font-size: 20px;
   line-height: 27px;
   color: var(--color-grey-dark);
}
.subscribe form {
    margin-top: 40px;
    max-width: 557px;
    margin-left: auto;
    margin-right: auto;
}
.subscribe form input {
    width: 270px;
    height: 45px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 19px;
}
.subscribe form input::placeholder {
    font-size: 14px;
    line-height: 19px;  
}
.subscribe input[type="email"] {
    border: 1px solid var(--color-grey2);
    padding: 0 15px;
}
.subscribe input[type="submit"] {
    background-color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
    color: var(--color-white);
    transition: 0.4s all ease;
}
.subscribe input[type="submit"]:hover {
    font-size: 15px;
}
.subscribe p {
    margin-top: 23px;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-grey-dark);
}
.subscribe a {
    color: var(--color-yellow);
    text-decoration: underline;
}
@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
}    
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}
.bg-grey {
    background-color: #eae8e8;
}
@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
}
    
@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
}

